.head{
background-color:black;
font-style:italic;
color:green;
font-size:30px;
font-family:times;
border:thin groove;
}
.heap{
background-color:#e91e63;
font-style:italic;
font-size:15px;

}
.divya{
font-style:italic;
font-size:15px;
}
body{
background-image:url('images\of.jpg');

font-style:italic;
}
